Repository porter-dev/porter, pull requests merged in 2022-11, with the labels that each got.

#2539 Feat/event list logs improvement
  dashboard/src/main/home/cluster-dashboard/expanded-chart/events/EventList.tsx
  dashboard/src/main/home/cluster-dashboard/expanded-chart/events/EventsTab.tsx
  dashboard/src/main/home/cluster-dashboard/expanded-chart/logs-section/useAgentLogs.ts
  dashboard/src/main/home/modals/Modal.tsx
Labels: enhancement

#2540 Update OPA queries and add more workload checks
  internal/opa/config.yaml
  internal/opa/loader.go
  internal/opa/opa.go
  workers/jobs/recommender.go
Labels: enhancement

#2545 chore: fix logging in details tab
  dashboard/package.json
  dashboard/src/main/home/cluster-dashboard/expanded-chart/events/EventList.tsx
Labels: bug, frontend

#2547 Set job log timestamp to `finished_at` time, if the job has finished
  dashboard/src/main/home/cluster-dashboard/expanded-chart/jobs/ExpandedJobRun.tsx
Labels: enhancement, frontend

#2544 [POR-779] Enable custom namespaces and namespace annotations for preview environments
  api/client/k8s.go
  api/server/authz/preview_environment.go
  api/server/handlers/cluster/create_namespace.go
  api/server/handlers/cluster/install_agent.go
  api/server/handlers/cluster/update.go
  api/server/handlers/environment/common.go
  api/server/handlers/environment/create.go
  api/server/handlers/environment/create_deployment.go
  api/server/handlers/environment/delete.go
  api/server/handlers/environment/delete_deployment.go
  api/server/handlers/environment/enable_pull_request.go
  api/server/handlers/environment/finalize_deployment.go
  api/server/handlers/environment/finalize_deployment_with_errors.go
  api/server/handlers/environment/get_deployment.go
  api/server/handlers/environment/get_deployment_by_env.go
  api/server/handlers/environment/reenable_deployment.go
  api/server/handlers/environment/update_deployment.go
  api/server/handlers/environment/update_deployment_status.go
  api/server/handlers/webhook/github_incoming.go
  api/server/router/cluster.go
  api/server/router/git_installation.go
  api/server/router/router.go
  api/types/cluster.go
  api/types/environment.go
  api/types/policy.go
  cli/cmd/apply.go
  cmd/migrate/enable_cluster_preview_envs/enable.go
  cmd/migrate/enable_cluster_preview_envs/enable_test.go
  cmd/migrate/enable_cluster_preview_envs/helpers_test.go
  cmd/migrate/main.go
  cmd/migrate/startup_migrations/doc.go
  cmd/migrate/startup_migrations/global_map.go
  dashboard/src/main/home/cluster-dashboard/dashboard/ClusterSettings.tsx
  dashboard/src/main/home/sidebar/ClusterSection.tsx
  dashboard/src/shared/api.tsx
  dashboard/src/shared/types.tsx
  internal/kubernetes/agent.go
  internal/models/cluster.go
  internal/models/db_migration.go
  internal/models/environment.go
  internal/repository/environment.go
  internal/repository/gorm/cluster.go
  internal/repository/gorm/environment.go
  internal/repository/gorm/migrate.go
  internal/repository/test/environment.go
Labels: frontend, server, cli, preview-environments

#2549 [POR-290] Add --wait flag to `porter update` to wait for successful deployment
  cli/cmd/deploy.go
Labels: enhancement, cli

#2557 [POR-791] Use correct GAR image URI during launch flow
  api/server/router/v1/registry.go
  cli/cmd/connect/gar.go
  dashboard/src/components/image-selector/TagList.tsx
  dashboard/src/main/home/integrations/create-integration/GARForm.tsx
  dashboard/src/main/home/launch/launch-flow/LaunchFlow.tsx
  dashboard/src/main/home/onboarding/steps/ConnectRegistry/forms/_GCPRegistryForm.tsx
  internal/helm/postrenderer.go
  internal/registry/registry.go
Labels: bug, frontend, cli

#2561 [POR-808] Releases should have a canonical name
  api/server/handlers/namespace/list_releases.go
  api/server/handlers/release/update_canonical_name.go
  api/server/router/release.go
  api/types/namespace.go
  api/types/release.go
  dashboard/src/main/home/cluster-dashboard/chart/Chart.tsx
  dashboard/src/main/home/cluster-dashboard/expanded-chart/CanonicalName.tsx
  dashboard/src/main/home/cluster-dashboard/expanded-chart/ExpandedChart.tsx
  dashboard/src/main/home/cluster-dashboard/expanded-chart/ExpandedJobChart.tsx
  dashboard/src/main/home/cluster-dashboard/expanded-chart/SettingsSection.tsx
  dashboard/src/shared/api.tsx
  dashboard/src/shared/types.tsx
  internal/models/release.go
Labels: enhancement, frontend, server

#2551 Change all template paths to be project-scoped
  api/client/template.go
  api/server/handlers/release/create.go
  api/server/handlers/v1/template/get.go
  api/server/handlers/v1/template/get_upgrade_notes.go
  api/server/handlers/v1/template/list.go
  api/server/router/v1/project.go
  api/types/template.go
  cli/cmd/apply.go
  cli/cmd/deploy/create.go
  cli/cmd/preview/build_image_driver.go
  cli/cmd/preview/update_config_driver.go
  cli/cmd/preview/utils.go
  dashboard/src/main/home/cluster-dashboard/stacks/ExpandedStack/NewAppResource/_TemplateSelector.tsx
  dashboard/src/main/home/cluster-dashboard/stacks/components/NewAppResourceForm.tsx
  dashboard/src/main/home/cluster-dashboard/stacks/launch/components/AddResourceButton.tsx
  dashboard/src/main/home/launch/Launch.tsx
  dashboard/src/main/home/launch/expanded-template/ExpandedTemplate.tsx
  dashboard/src/main/home/modals/UpgradeChartModal.tsx
  dashboard/src/shared/api.tsx
  internal/helm/repo/repo.go
Labels: frontend, server, high-priority, cli

#2566 [POR-811] Use namespace labels instead of annotations for preview environments
  api/server/handlers/cluster/create_namespace.go
  api/server/handlers/environment/create.go
  api/server/handlers/environment/update_environment_settings.go
  api/types/cluster.go
  api/types/environment.go
  cli/cmd/apply.go
  dashboard/src/main/home/cluster-dashboard/preview-environments/ConnectNewRepo.tsx
  dashboard/src/main/home/cluster-dashboard/preview-environments/components/NamespaceLabels.tsx
  dashboard/src/main/home/cluster-dashboard/preview-environments/environments/EnvironmentSettings.tsx
  dashboard/src/main/home/cluster-dashboard/preview-environments/types.ts
  dashboard/src/shared/api.tsx
  internal/kubernetes/agent.go
  internal/models/environment.go
Labels: frontend, server, cli, preview-environments

#2565 [POR-810] Allow preview deployments from git branches
  api/server/handlers/environment/create.go
  api/server/handlers/environment/enable_pull_request.go
  api/server/handlers/environment/finalize_deployment.go
  api/server/handlers/environment/finalize_deployment_with_errors.go
  api/server/handlers/environment/list_deployments_by_cluster.go
  api/server/handlers/environment/reenable_deployment.go
  api/server/handlers/environment/trigger_deployment_workflow.go
  api/server/handlers/environment/update_deployment.go
  api/server/handlers/environment/update_deployment_status.go
  api/server/handlers/environment/update_environment_settings.go
  api/server/handlers/webhook/github_incoming.go
  api/types/environment.go
  cli/cmd/apply.go
  cli/cmd/preview/utils.go
  dashboard/src/main/home/cluster-dashboard/preview-environments/ConnectNewRepo.tsx
  dashboard/src/main/home/cluster-dashboard/preview-environments/deployments/DeploymentCard.tsx
  dashboard/src/main/home/cluster-dashboard/preview-environments/environments/EnvironmentSettings.tsx
  dashboard/src/main/home/cluster-dashboard/preview-environments/types.ts
  dashboard/src/shared/api.tsx
  internal/integrations/ci/actions/preview.go
  internal/models/environment.go
Labels: enhancement, frontend, server, cli, preview-environments

#2558 rfac: hide rename cluster field
  dashboard/src/main/home/cluster-dashboard/dashboard/ClusterSettings.tsx
Labels: frontend

#2562 fix: check for agent addon
  dashboard/src/main/home/cluster-dashboard/expanded-chart/ExpandedChart.tsx
Labels: bug, frontend
