Repository porter-dev/porter, pull requests merged in 2023-04, with the labels that each got.

#2817 [POR-981] Add option to choose registry for `porter.yaml`
  api/client/registry.go
  cli/cmd/apply.go
  cli/cmd/preview/utils.go
  internal/integrations/preview/utils.go
Labels: enhancement, cli, preview-environments

#2831 [POR-997] Add CCP build to our preview env
  .github/workflows/porter_preview_env.yml
  porter.yaml
Labels: high-priority, preview-environments

#2833 [POR-1007] `v2beta1` will replace all instances of `${{ porter.env.FOOBAR }}` with the env var from `PORTER_APPLY_FOOBAR`
  cli/cmd/preview/v2beta1/addon_resource.go
  cli/cmd/preview/v2beta1/app_resource.go
  cli/cmd/preview/v2beta1/apply.go
  cli/cmd/preview/v2beta1/build.go
Labels: enhancement, preview-environments

#2840 [POR-991] Preview environments can now have a TTL
  workers/jobs/helm_revisions_count_tracker.go
  workers/jobs/preview_deployments_ttl_deleter.go
  workers/main.go
Labels: enhancement, preview-environments

#2897 [POR-1076] Emit sentry event ID in logs for better navigation
  api/server/shared/apierrors/alerter/alerter.go
  api/server/shared/apierrors/alerter/noop.go
  api/server/shared/apierrors/alerter/sentry.go
  api/server/shared/apierrors/errors.go
Labels: enhancement, server

#2933 Added a switch that enables single-AZ NAT gateways by default.
  api/server/handlers/infra/forms.go
Labels: enhancement

#2937 M6a instances
  dashboard/src/main/home/provisioner/AWSFormSection.tsx
Labels: enhancement

#2938 Added support for c5 instances.
  dashboard/src/main/home/provisioner/AWSFormSection.tsx
Labels: enhancement

#2911 Fixes - EKS cluster form
  api/server/handlers/infra/forms.go
Labels: bug, enhancement

#2959 [POR-1123] Delete deployment option should be available in all cases
  api/server/handlers/environment/delete_deployment.go
  dashboard/src/main/home/cluster-dashboard/preview-environments/deployments/DeploymentCard.tsx
Labels: frontend, server, preview-environments

#2960 [hotfix] `update eg set` could lead to a nil map error
  cli/cmd/deploy.go
Labels: cli

#2932 [POR-1101] API v1: image tags are sorted according to their pushed at timestamp
  internal/registry/registry.go
Labels: enhancement, server
