Repository porter-dev/porter, pull requests merged in 2023-03, with the labels that each got.

#2712 Porter CLI installation <> $PATH
  services/cli_install_script_container/install.sh
Labels: enhancement

#2715 [hotfix] Reset CLI config when host is changed
  cli/cmd/config/config.go
Labels: cli

#2717 Modified the `batchv1beta1` `CronJob` API group to `batchv1`.
  cli/cmd/run.go
Labels: bug

#2783 [POR-974] Move away from `gitinstallation` endpoints for preview environments
  api/client/environment.go
  api/server/handlers/environment/create_deployment_by_cluster.go
  api/server/handlers/environment/finalize_deployment_by_cluster.go
  api/server/handlers/environment/finalize_deployment_with_errors_by_cluster.go
  api/server/handlers/environment/update_deployment_by_cluster.go
  api/server/handlers/environment/update_deployment_status_by_cluster.go
  api/server/router/cluster.go
  api/types/environment.go
  cli/cmd/apply.go
Labels: enhancement, server, cli, preview-environments
