Repository porter-dev/porter, pull requests merged in 2023-01, with the labels that each got.

#2614 Support EKS 1.23 and EKS 1.24.
  api/server/handlers/infra/forms.go
Labels: enhancement

#2620 [POR-873] Custom namespaces for branch based preview deployments
  api/server/handlers/environment/common.go
  api/server/handlers/environment/delete_deployment.go
  api/server/handlers/environment/update_deployment.go
  api/server/handlers/environment/update_deployment_status.go
  api/server/handlers/webhook/github_incoming.go
  api/types/environment.go
  cli/cmd/apply.go
  cli/cmd/preview/utils.go
  internal/repository/environment.go
  internal/repository/gorm/environment.go
  internal/repository/test/environment.go
Labels: server, cli, preview-environments

#2624 fix/project-settings-infinite update
  dashboard/src/main/home/project-settings/ProjectSettings.tsx
Labels: bug, frontend, high-priority

#2635 RDS version expansion
  api/server/handlers/infra/forms.go
Labels: enhancement

#2638 hotfix/project settings page tabs
  dashboard/src/main/home/project-settings/ProjectSettings.tsx
Labels: bug, frontend, high-priority

#2639 [POR-822] Store last errors in the DB for preview env deployments
  api/server/handlers/environment/finalize_deployment.go
  api/server/handlers/environment/finalize_deployment_with_errors.go
  api/types/environment.go
  dashboard/src/main/home/cluster-dashboard/preview-environments/deployments/DeploymentDetail.tsx
  dashboard/src/main/home/cluster-dashboard/preview-environments/types.ts
  internal/models/environment.go
Labels: enhancement, frontend, server, preview-environments

#2637 fix: project settings tabs
  dashboard/src/main/home/project-settings/ProjectSettings.tsx
Labels: frontend, high-priority

#2636 [POR-880] porter.yaml v2beta1
  api/server/handlers/namespace/clone_env_group.go
  api/types/namespace.go
  cli/cmd/apply.go
  cli/cmd/preview/v2beta1/addon_resource.go
  cli/cmd/preview/v2beta1/app_resource.go
  cli/cmd/preview/v2beta1/apply.go
  cli/cmd/preview/v2beta1/build.go
  cli/cmd/preview/v2beta1/default_driver.go
  cli/cmd/preview/v2beta1/helm_chart.go
  cli/cmd/preview/v2beta1/types.go
  cli/cmd/preview/v2beta1/utils.go
Labels: enhancement, cli, preview-environments

#2642 [POR-830] Copy over all containers for ephemeral pods
  cli/cmd/run.go
Labels: bug, enhancement, cli

#2647 [POR-881] Disable remote kubeconfig using an env flag
  api/client/k8s.go
  api/server/handlers/cluster/get_kubeconfig.go
  api/server/router/cluster.go
  api/server/shared/config/env/envconfs.go
  cli/cmd/config/config.go
Labels: enhancement, server, cli

#2657 fix: context access for is porter user
  dashboard/src/main/home/Home.tsx
Labels: bug, frontend, high-priority

#2656 [POR-815] Branch deployments should be auto deployed
  api/server/handlers/environment/create.go
  api/server/handlers/environment/update_environment_settings.go
  api/server/shared/config/env/envconfs.go
Labels: enhancement, server, high-priority, preview-environments

#2664 [hotfix] Remove `basename` from CLI install script
  services/cli_install_script_container/install.sh
Labels: bug, enhancement, cli

#2665 [hotfix] Fix string formatting for error message storage for failed preview deployment
  api/server/handlers/environment/finalize_deployment_with_errors.go
Labels: bug, server, preview-environments

#2666 [hotfix] Fix homebrew SHA256 string
  .github/workflows/release.yaml
Labels: bug

#2668 feat: add instructions to connect project and cluster
  dashboard/src/main/home/cluster-dashboard/expanded-chart/jobs/ConnectToJobInstructionsModal.tsx
Labels: enhancement, frontend

#2667 [POR-902] Add sentry support to the CLI
  .github/workflows/build-dev-cli.yaml
  .github/workflows/prerelease.yaml
  Makefile
  cli/cmd/errors.go
  cli/cmd/errors/error_handler.go
  cli/main.go
Labels: cli
